{% extends 'base.html.twig' %}

{% block title %}Calculadora de IMC{% endblock %}

{% block body %}
    <div class="login-box">
        <h1 style="margin-bottom: 5px; font-size: 35px">Seu IMC é: {{ imc }}</h1>
        <p>{{ desc }}</p>
    </div>

{% endblock %}
